/*-------------------------------*/  
/* BASICS*/
/*-------------------------------*/  
    body {
        margin: 0px;
        background-image: url("assets/topography.png");
    }
/*-------------------------------*/ 
/* FONTS */
/*-------------------------------*/  
    body, pre {
        font-family: consolas;
        white-space: normal;
        font-stretch: expanded;
    }
    body H1,body H2, pre H1, pre H2 {
        font-family: courier;
        white-space: normal;
        font-stretch: expanded;
        
    }
    .intro  {
        font-size: 1.2em;
        line-height: 150%;
    }
    .intro  H1{
        font-size: 3em;
    }
    #Wiki H1{
        font-size: 2.3em;
    }
    #Wiki H1, #Wiki H2 {
        font-weight: 900;
    }
/*-------------------------------*/ 
/* COLORS */
/*-------------------------------*/  
    /* All things PINK */
    .nav-buttons li a, .intro H2 {
        color: #ff0099;
    }
/*-------------------------------*/ 
/* BLOCK POSITIONING */
/*-------------------------------*/  
    /* NAV BAR */
    .nav-bar{
        background-color: #333333;
        margin:0px 0px 75px 0px;
    }
    .nav-middle{
        display:flex;
        justify-content: space-between;
    }
    .nav-picture{ 
        max-width:10%;
        /*margin:0;*/
        display:flex;
        align-content: center;
    }
    .nav-buttons{
        max-width:80%;
    }
        .nav-buttons li{
            display:inline;
            list-style: none;
            padding: 1px 16px;
            margin: 0px;
            font-weight: 530;
            text-decoration: underline;
        }
            .nav-buttons li:hover {
                background-color: #ddd;
                color: black;
            }
        /*#Navbuttons a.active {
            background-color: #4CAF50;
            color: white;
        }*/
    .content {
        margin-top: 100px;
        margin-bottom: 50px;
    }
/*-------------------------------*/  
/* POSITIONING GROUPS */
/*-------------------------------*/  
    /* TOP and Bottom */
    
    /* Middle framed content */
    .align-main {
        padding-right:10%;
        padding-left:10%;
    }
    /* All things centered */
    #Separator, #Wiki H1 {
        text-align: center;
    }




